body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#info {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: #222;
}

input[type=button], select {
  width: 100%;
  font-size: 16px;
}

#random-mode {
  margin-bottom: 4px;
}

#filter-value {
  display: none;
}

h1 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 100;
  margin: 0 0 6px;
}

h3 {
  font-weight: 300;
  margin: 0;
  margin-top: 12px;
}

#color-cubes {

}
#color-cubes div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: 200;
  padding: 1px 3px;
}

#color-cubes div:hover {
  background-color: rgba(255,255,255,0.4);
}

#color-cubes div.selected {
  background-color: rgba(255,255,255,0.4);
}
